body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: no-repeat url('../images/blue_sky.jpg');
    background-size: center;
}

.container {
    color: white;
    max-height: 600px;
    max-width: 375px;
    margin: 0 auto;
}

#content {
    height: 350px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    min-height: 666px;
    padding-top: 25px;
    margin-top: 5px;
}

h1 {
    padding-top: 20px;
}

#content p {
    font-size: 1.25em;
}

#condition {
    padding-right: 10px;
}

#units,
#temp {
    font-size: 4em;
}

footer {
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px; 
    clear: left;
    margin-top: 350px;
}

#toggle {
    width: 100%;
}

#fah, #cel {
    background: gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    float: left;
    margin: 0 5px;
}

#fah {
    background: blue;
    margin-left: 35%;
}


/*Phone media query*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #container {
        height: 100%;
        width: 100%;
    }
    #content {
        height: 100%;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
    }
    footer {
        margin-top: 325px;
    }
}